<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/code-examples-log4j/src/main/java/code/examples/log4j/Log4JExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="code.examples.log4j.Log4JExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="code-examples-log4j"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configurationFile=&quot;ExternalFolder/Log4JConfig.xml&quot;"/>
</launchConfiguration>
